# ==============================
# Variables y secretos
# ==============================
.env
**/.env

# ==============================
# Angular / Node
# ==============================
**/node_modules/
**/dist/
**/.angular/
**/coverage/

# ==============================
# Java / Gradle
# ==============================
**/.gradle/
**/build/
*.class

# ==============================
# IDE
# ==============================
**/.idea/
**/.vscode/
*.iml

# ==============================
# Sistema operativo
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================
*.log
logs/
